.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-column {
  flex-direction: column!important;
}

.d-flex {
  display: flex!important;
}

.col-lg-4 {
  flex: 0 0 50%;
  max-width: 50%;
}

.image-text-side-by-side {
  display: inline-flex;
}

.basic-padding {
  padding: 15px;
}

.basic-padding-bottom {
  padding-bottom: 10px;
}

.parcours-ste-foy  {
  width:  100%; 
  height: 70%; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 1mm 0.15rem rgba(0, 0, 0, 0.555))
}

.grey-background {
  background-color: lightgray;
}