.text-align-right {
  text-align: right;
  margin: 20px;
}

#contact-container {
  @media (min-width: 0px) and (max-width: 950px) {
    text-align: center;
  }
  position: absolute;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
  top: 50%;
  left: 50%;
}