.hide-mobile {
  @media (min-width: 0px) and (max-width: 950px) {
    display: none !important; 
  }
}

.hide-desktop {
  @media (max-width: 950px) {
    display: none;
  }
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
}

.footer-left {
  margin-left: 20px;
  margin-bottom: 10px;
  text-decoration-color: white;
  color: white;
  @media (min-width: 0px) and (max-width: 950px) {
    margin: 7px;
  }
}

footer h1 {
  color: rgba(255, 255, 255, 0.822);
  text-decoration-color: white;
}

footer h2 {
  color: rgba(255, 255, 255, 0.822);
  text-decoration-color: white;
}

footer h3 {
  color: rgba(255, 255, 255, 0.822);
  text-decoration-color: white;
}

footer h4 {
  color: #000000a1;
  text-decoration-color: white;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

footer h5 {
  color: rgba(255, 255, 255, 0.822);
  text-decoration-color: white;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.contact {
  justify-content: flex-end;
  margin-top: 1%;
  margin-right: 3%;
}

.underline {
  text-decoration-line: underline;
}

.red {
  color: red;
}

.align-center {
  text-align: center;
}

.white {
  color: white !important;
}