@media (min-width: 1500px) {
  .panels {
    display: inline-flex;
    text-decoration: none;
    z-index: 5;
    padding-top: 15%;
  }

  .panel-left {
    position: fixed;
    width: 50%;
    height: 100vh;
    left: 0;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
  }

  .panel-right {
    position: fixed;
    width: 50%;
    height: 100vh;
    right: 0;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
  }

  .drawer-width {
    width: 50%;
  }

  .centered-container {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 20%;
    position: absolute;
    font-family: Roboto;
    font-weight: bolder;
    color: black;
    background-color: rgba(255, 255, 255, 0.438);
    padding-top: 2%;
    padding-bottom: 6%;
  }
}

@media (min-width: 950px) and (max-width: 1500px) {
  .panels {
    display: inline-flex;
    text-decoration: none;
    z-index: 5;
    padding-top: 15%;
  }

  .panel-left {
    position: fixed;
    width: 50%;
    height: 100vh;
    left: 0;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
  }

  .panel-right {
    position: fixed;
    width: 50%;
    height: 100vh;
    right: 0;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
  }

  .drawer-width {
    width: 50%;
  }

  .centered-container {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 20%;
    position: absolute;
    font-family: Roboto;
    font-weight: bolder;
    color: black;
    background-color: rgba(255, 255, 255, 0.438);
    padding-top: 6%;
    padding-bottom: 10%;
  }
}

@media (min-width: 0px) and (max-width: 950px) {
  .panels {
    position: absolute;
    display: flex;
    text-decoration: none;
    z-index: 5;
    width: 100%;
  }

  .panel-left {
    top: 0;
    width: 100%;
    height: 50vh;
    cursor: pointer;
  }

  .panel-right {
    top: 50vh;
    width: 100%;
    cursor: pointer;
  }

  .centered-container {
    text-align: center;
    margin: auto;
    width: 100%;
    position: absolute;
    font-family: Roboto;
    font-weight: bolder;
    color: black;
    background-color: rgba(255, 255, 255, 0.438);
    padding-top: 3%;
    padding-bottom: 3%;
    top: 20%;
  }
}

.helloworld {
  margin-top: 10%;
}

body {
  position: relative;
  margin: 0;
  overflow: hidden;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration-color: white;
  font-weight: normal;
}

#video-background-beauport {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 100%;
}

#logo-baie-de-beauport {
  padding-top: 5%;
  max-height: 75%;
}

#logo-ste-foy {
  max-height: 100%;
}

#date-baie-de-beauport {
  padding-top: 1%;
}

.logo {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
  opacity: 1;
  height: 100%;
  @media (min-width: 0px) and (max-width: 950px) {
    width: 50%;
  }
}

.site-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.drawerHeader {
  display: block;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
}

.drawer-logo {
  max-width: 150px;
  padding: 20px;
  display: inline-block;
}

.panels {
  background-color: 	rgba(0, 0, 0, 0.466);
}

.panel-right:hover {
  transition-duration: 1.5s;
  background: rgba(0, 0, 0, 0.76);
}

.panel-left:hover {
  transition-duration: 1.5s;
  background: rgba(0, 0, 0, 0.76);
}

.close-drawer {
  float: right;
  top: 35px;
}

.some-opacity {
  opacity: 0.8;
}
