.notificationbar {
  height: 4%;
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 5px;
}

#notification-message {
  color: white;
}

.notificationbar-end {
  display: relative;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  margin-right: 20px;
}

h3 {
  display: inline-block;
}

.no-underline {
  text-decoration-line: none;
}

.centered {
  text-align: center;
}

#inscription-button {
  position: fixed;
  top: 0;
  left: 0;
  align-items: right;
  color: white;
  z-index: 99;
  padding: 20px;
}

#notificationBar-toolbar {
  justify-content: flex-end;
}